/*
    font-family: 'inconsolate', monospace;
    font-family: 'roboto mono', monospace; */

    /** NORMALIZACION */

    * {
        padding: 0;
        margin: o;
        box-sizing: border-box; /** Esto mantiene el ancho y alto a pesar de padding y broder*/
        font-family: 'inconsolate' monospace;
        list-style: none; /* Esto quita los puntos y decoracion de las listas */
        text-decoration: none; /* Esto quita el subrayado de los enlaces */
        color: white;
    }

    body {
        background-color: black;
    }

    header {
        position: fixed; /* Esto hace que el header se quede fijo en la parte superior */
        right: 0;
        top: 0;
        z-index: 100; /* Esto hace que ek headr se muestre por encima*/
        width: 100%;
        display: flex; /** Esto coloca a los elementos en linea*/
        align-items: center;
        justify-content: space-between;
        padding: 15px 3%;
        background-color: transparent;

    }

    .logo {
        font-size: 30px;
        font-weight: 700; /* grosor de la letra*/

    }

    .navlist {
        display: flex; /* alinear los elementos de la lista UL */
    }

    .navlist a {
        margin-left: 60px; /* separamos los elementos de la lista UL */
        font-size: 15px;
        font-weight: 600;
        border-bottom: 2px solid transparent; /* subrayado transparente */
        transition: all .5s ease; /* animacion de todas las caracteristicas del .navlist a */

    }

    .navlist a:hover {
        border-bottom: 2px solid white; /* subrayado white que aparecera cuando hacemos hover (pasamos por encima de la palabra) */
    }

     #menu-icon{
        display: block; /* Gracias a display: none; el icon de menu solo se vera en pantallas mas chicas */
    } 

    #menu-action {
        font-size: 35px;
        z-index: 101; /* Para colocarlo sobre el header*/
        cursor: pointer; /* para que cuando el cursor pase por encima aparezca la manito */
    }

    #menu-toggle {
        display: none; /** no queremos mostrar checkbox*/

    }

    .menu-icon-action {
        display: none;
    }

    .hero {
        height: 100%;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(245.59deg, #31494e 0%, #31494e70 25%, #131313 75%); /* Fondo de color gradiente*/
        position: relative; /* Para que sea relativo al contenedor (nos permite usar top, bottom, left y right)*/
        display: grid; /*  Para dividir al hero en dos columnas*/
        grid-template-columns: 1fr 1fr; /* Dos columnas del hero */
        align-items: center;
        gap: 2rem; /* El espacio entre las dos columnas es de 2rem*/
    }

    section {
        padding: 0 8%;
    }

    .hero-text h5{
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 25px;
    }
    .hero-text h1 {
        font-family: 'Roboto Mono', monospace;
        font-size: 50px;
        line-height: 1;
        margin: 0 0 30px;
    }
    .hero-text h4 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .hero-text p {
        font-size: 80%;
        margin-bottom: 40px;
        line-height: 1.9;
    }
    .hero-img img:hover{
        width: 500px;
        margin: 10% 0 0 10%;
        height: auto;
        transition: all 5s linear; /* Esto hace que la transicion sea lineal*/
    }

    .hero-img img {
        width: 450px;
        opacity: 0.6;
    }

    .hero-text a {
        display: inline-block;
        background-color: #4d4d4d;
        border: 1px solid transparent;
        padding: 15px 30px;
        line-height: 1.4;
        font-size: 14px;
        font-weight: 500;
        border-radius: 30px;
        text-transform: uppercase;
        transition: all .5s ease;
    }

    .hero-text a:hover {
        background-color: transparent;
        border: 1px solid white;
        transform: translateX(8px);
    }

    .hero-text a.videos {
        background-color: transparent;
        border: 1px solid white;
        margin-left: 20px;
    }

    .hero-text a.videos i {
        vertical-align: middle;
        margin-right: 5px;
    }

    .icons {
        position: absolute;
        top: 50vh;
        padding: 0 3%;
        transform: translateY(-50%);
    }

    .icons i {
        display: block;
        margin: 26px;
        font-size: 24px;
        transition: all .5s ease;
    }

    .icons i:hover {
        color: #4d4d4d;
        transform: translateY(-5px);
    }
    .scroll-down {
        position: absolute;
        bottom: 6%;
        right: 3%;
    }

    .scroll-down i {
        display: block;
        padding: 12px;
        font-size: 25px;
        background-color: #21383d;
        border-radius: 30px;
        transition: all .5s ease;
    }

    .scroll-down i:hover {
        transform: translateY(-5px);
    }


    @media (max-width: 992px) { 
        section {
            padding: 0 3%;
            transition: .2s;

        }

        .hero-text{
            padding-top: 0;
        }
        .hero-img {
            text-align: center;
        }
        .hero-img img {
            width: 80%;
            margin: 10% 0 0 10%;
        }

        .hero-text p {
            font-size: 70%;
        }
        .icons {
            display: none;
        }
        .scroll-down {
            display: none;
        }
    }
    @media (max-width: 768px) {
         .menu-icon-action {
            display: block;
        
         }
         .hero-text{
            text-align: center;
            padding-top: 100px;
         }
         .hero-img {
            margin: 0;
         }
         .hero{
            height: 100%;
            gap: 1rem;
            grid-template-columns: 1fr;
         }
         .navlist {
            position: absolute;
            top: 100%;
            right: -100%;
            width: 200px;
            height: 180px;
            background-color: #04221fef;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 20px;
            transition: all .1s ease-out;
            
         }
    

         .navlist a {
            display: block;
            margin: 7px 0;
         }

         #menu-toggle:checked + label.menu-icon-action + ul {
            display: flex;
             right: 0; 

         }
    }